.app-title {
  font-size: 1.5em;
}

.img-steering-wheel {
  width: 5em;
  float: left;
}

.title-div {
  width: 8em;
  float: left;
  a {
    font-family: "FTAnchorYard";
    font-weight: bold;
    letter-spacing: 0.1em;
  }
}

h1 {
  font-family: "FTAnchorYard";
  font-weight: bold;
  font-size: 3.5em;
  letter-spacing: 0.1em;
}