%nav.navbar.navbar-light.bg-faded
  %button.navbar-toggler.hidden-sm-up{"data-target" => "#exCollapsingNavbar2", "data-toggle" => "collapse", :type => "button"}
    ☰
  #exCollapsingNavbar2.collapse.navbar-toggleable-xs
    =image_tag('logo_steering_wheel.png', :class => 'img-steering-wheel', alt: 'A picture of ship steering wheel.')
    %div.media.title-div
      %a.navbar-brand.app-title.media-middle{:href => "#"} Vote Ship
  %h1.text-center Projects
